# Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle/

# Builds
build
cleanup.sh

# IDE
.idea
*.iws
*.iml
*.ipr

# Mac files
.DS_Store
lib-cov

# Packages
*.jar
*.war
*.ear

# Temp files / working directories
*.swp
*.*~
*.bkp

# Compressed files
*.bz
*.gz
*.tar
*.zip
*.tgz

/bin/
*.classpath
*.project
*/.settings/*
